<div class="col-lg-5 col-md-6 mb20">
    <form action="add/" method="post">
      <div class="form-group"></br></br>
          <input type="text" class="form-control" name="Famille" placeholder="Famille" required>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="type" placeholder="Type (fleur, racine, fruit ...)" required>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="Famille1" placeholder="Famille" required>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="type1" placeholder="Type (fleur, racine, fruit ...)" required>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="Plantae1" placeholder="Plante1" required>
      </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Plantae2" placeholder="Plante2" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="type_sol" placeholder="type du sol" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Ecosystem" placeholder="Association(CONSEILLÉ,DÉCONSEILLÉ, CONTRADICTOIRE)">
        </div>
        <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />

        <div class="form-group">
          <button type="submit" class="btn btn-rounded btn-primary btn-block" name="Envoyer">Envoyer</button>
        </div>
    </form>
</div>
