<div class="page-custom-header title-space-lg bg-parallax mb80 parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url(<%= asset_path 'bg6.jpg' %>);background-position:top center;'>
            <div class="container">
                <div class="row">
                    <div class=" col-md-6">
                        <h2 class="text-white">Une communauté proactive</h2>
                        <p class="text-white-gray">
                             IU-MAN est un projet visant à moderniser et simplifier l'échange d'information touchant la recherche sur les écosytèmes naturels.
                        </p>
                        <a href="/partenaires" class="btn btn-white-outline">Voir nos partenaires</a>
                    </div>
                </div>
            </div>
        </div><!--page title end-->
<div class='container no-padding mb70'>
            <div class='row no-margin mb70 align-items-center'>
                <div class='col-md-4 mb30'>
                    <div class="media pos-relative">
                        <div class="d-flex mr-3">
                          
                        </div>
                        <div class="media-body ">
                            <h4 class="mt-0 mb10  text-uppercase">Un objectif simple</h4>
                            Le projet U-MAN est né de la nécessité d'une compréhension des relations des organismes vivant entre eux et dans leurs environnements. Avec l'émergence des nouvelles technologies numériques, et un besoin croissant de DATA, l'agriculture, l'écologie et la permaculture ont l'opportunité grandissante de travailler ensemble.
                        </div>
                    </div>
                </div>
                <div class='col-md-4 mb30'>
                    <div class="media pos-relative">
                        <div class="d-flex mr-3">
                           
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0 mb10 text-uppercase">Tirer profit des biotechnologies</h4>
                            La révolution numérique transformant le secteur de la production agricole et forestière ainsi que les biocarburants est en mouvement (croissance moyenne de 3,85%).
                        </div>
                    </div>
                </div>

                <div class='col-md-4 mb30'>
                    <div class="media pos-relative">
                        <div class="d-flex mr-3">
                            
                        </div>
                        <div class="media-body ">
                            <h4 class="mt-0 mb10  text-uppercase">Notre ambition</h4>
                            Nous souhaitons faciliter cette conversion et aller encore plus loin. La permaculture s'inscrit dans cette démarche comme une solution innovante et évidente. U-MAN initie le premier mouvement de recherche et d'agrégation à visée internationale, notre objectif le croisement de données et la recherche de résultat non linéaire.
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="half-image-content bg-faded">
    <div class="content-img bg-parallax pos-right hidden-md-down" data-jarallax='{"speed": 0.2}' style="background:url(<%= asset_path 'ail.jpg' %>) no-repeat; ">
            </div>
        <img src="images/img-half2.jpg" class="visible-lg-down hidden-lg-up img-fluid" alt="">
            <div class="container">
                <div class='row'>
                <div class="col-lg-5 pt70 pb70">
                    <h2 class="mb40">
                        Avoir une approche scientifique
                    </h2>
                    <div class="clearfix">
                        <p>
                        La connaissance humaine à progressé de manière exponentielle dans les vingt dernières années, en matière de biologie, de compréhension du microbiosme et d'étude du vivant.
                        </p>

                        <p>Il est impératif de mettre en relation les données et études développées au niveau international entre elles mêmes. L'accès à l'information est rendu qualitatif par la mise en relation avec son contexte.
                        </p>

                        <p>Nous nous efforçons de simplifier l'agglomération de données dans le but de faire émerger des qualités dans le croisement de celle-ci. Cella nous permet des découvertes, via le <b>deep learning</b>, qui en d'autre temps aurais nécessité des générations d'agriculteurs attentifs et consciencieux.
                        </p>

                        <p>Ainsi, le savoir le plus ancien de l'humanité, l'agriculture, et notre évolution propre dans notre écosystème en tant qu'espèce, se trouverait, enfin, exposé et <b>open source</b> au niveau international.
                        </p>
                        <br>
                        
                    </div>
                </div>
            </div>
    </div>
</div><!--half image section-->
      <div class="container pt90  pb60">
                  <div class="row align-items-center">
                      <div class="col-lg-6 mb30">
                          <img src="https://medias.liberation.fr/photo/1102777-000_sy34r.jpg?modified_at=1520438871&width=960" alt="" class="img-fluid">
                      </div>
                      <div class="col-lg-6 mb30">
                          <h2>
                              Un engagement humain
                          </h2>
                        <p>U-MAN, est une plateforme a destinations de professionels, pouvant accélérer son développement. L'objectif dès lors a été de créer un système participatif, permettant au personnes fortement impliquées de partager leur savoir.
                        </p>

                        <p>Cet outil est appellé a évolué avec la volonté de la communauté et des capacités techniques a notre disposition.
                        </p>

                        <p>La participation, d'acteurs exterieurs via des collaborations et des interventions au sein de U-MAN, nous permet d'accélérer notre croissance.
                        </p>

                        <p>Notre volonté s'inscrit dans le cadre d'une reconstruction de nos écosystemes, et dans l'entreprise d'établissement d'une pensée nouvelle de l'agriculture, via une rentabilité retrouvée et prouvé de notre écosystème.
                        </p>
                      </div>
                  </div>
              </div>
