<form method="post" action="/search">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="row">
        <div class="col-md-12 mb20">
            <input type="text" class="form-control" placeholder="Ex: tomates sol argileux" required="" name="plante_search">
        </div>

        <div class="col-md-12">
            <!-- IL FAUT CHANGER LE BUTTON EN BALISE <a> :D -->
            <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
        </div>
    </div>
</form>
