<footer class="footer footer-standard pt50 pb10">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb40">
                    <h3>A propos de nous</h3>
                     <p>
               Le projet U-MAN est né de la nécessité d'une compréhension des relations des organismes vivant entre eux et dans leurs environnements.
        </p>
        <a href="/presentation" class="btn btn-white-outline btn-sm">En savoir plus</a>
                </div>
                <div class="col-lg-4 col-md-6 mb40">
                    <h3>Quick links</h3>
                    <ul class="list-unstyled footer-list-item">
                        <li>
                            <a href="/presentation">
                                Notre projet
                            </a>
                        </li>
                        
                         <li>
                            <a href="/partenaires">
                               La communauté
                            </a>
                        </li>
                        <li>
                            <a href="/users/sign_in">
                               Se connecter
                            </a>
                        </li>
                        <li>
                            <a href="https://fr.wikipedia.org/wiki/Conditions_g%C3%A9n%C3%A9rales_d%27utilisation">
                                Condititions générales d'utilisation
                            </a>
                        </li>
                         <li>
                            <a href="https://fr.wikipedia.org/wiki/Obligations_l%C3%A9gales_sur_Internet_en_France">
                                Mentions légales
                            </a>
                        </li>
                    </ul>
                </div>
<!--                 <div class="col-lg-3 col-md-6 mb40">
                    <h3>Latest News</h3>
                   <ul class="list-unstyled latest-news">
                        <li class="media">
                           <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="images/img1.jpg" alt="Generic placeholder image"></a>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="#">Beautiful Sofa lamp at low price</a></h5>
                                April 05, 2017
                            </div>
                        </li>
                        <li class="media my-3">
                            <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="images/img2.jpg" alt="Generic placeholder image"></a>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                               Jan 05, 2017
                            </div>
                        </li>
                        <li class="media">
                            <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="images/img5.jpg" alt="Generic placeholder image"></a>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="#">New awesome features of bootstrap 4</a></h5>
                                March 15, 2017
                            </div>
                        </li>
                    </ul>
                </div> -->
                
            </div>
        </div>
    </footer><!--/footer-->
    <div class="footer-bottomAlt">
        <div class="container">
            <div class="row">
                  <div class="col-lg-7">
                    <div class="clearfix">
                       <a href="#" class="social-icon-sm si-dark si-facebook si-dark-round">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                        <i class="fa fa-skype"></i>
                        <i class="fa fa-skype"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-linkedin"></i>
                    </a>  
                    </div>
                </div>
                <div class="col-lg-5">
                    <span>&copy; Copyright 2017. All Right Reserved</span>
                </div>
            </div>
        </div>
    </div><!--/footer bottom-->
    <!--back to top-->
 <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>